<h1>Listing contact_groups</h1>

<table>
  <tr>
    <th>Name</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contact_groups.each do |contact_group| %>
  <tr>
    <td><%= contact_group.name %></td>
    <td><%= contact_group.user_id %></td>
    <td><%= link_to 'Show', contact_group %></td>
    <td><%= link_to 'Edit', edit_contact_group_path(contact_group) %></td>
    <td><%= link_to 'Destroy', contact_group, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contact group', new_contact_group_path %>
