<p class="comment_reply" >
  <span id="reply_content_<%=reply.id%>"><%=reply.comment%></span>
  <br/>
  <a class="edit_reply" comment_id ="<%=reply.id%>" href="javascript:void(0)">edit</a>&nbsp;&nbsp;<a class="reply_delete" comment_id ="<%=reply.id%>" parent_id ="<%=reply.parent_id%>" href="javascript:void(0)">delete</a>
</p>
