<%= image_tag 'close.jpeg', :class=> 'close_lb',  :id => 'close_reply_comment_lb', :title => 'close' %>
<% form_for :comment, :url => comments_path, :remote => true, :html=> { :id => 'reply_comment_form'} do |f|%>

  <h2>Reply</h2>
  <p>
    <%= text_area_tag 'comment[comment]', '', :rows => 7, :cols => 54 %>
  </p>

  <p style="text-align: center">
    <%= hidden_field_tag 'comment[parent_id]', '', :id=> 'comment_parent_id' %>
    <%= hidden_field_tag 'comment[event_id]', @event.id %>
    <%= submit_tag "Save"%>
  </p>
<% end %>

