<h1>Listing attributes</h1>

<table>
  <tr class="evenRow">
    <th>Title</th>
    <th>Active</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @attributes.each do |attribute| %>
  <tr class="<%= cycle('oddRow', 'evenRow') %>">
    <td><%= attribute.title %></td>
    <td><%= attribute.active %></td>
    <td><%= link_to 'Show', attribute %></td>
    <td><%= link_to 'Edit', edit_attribute_path(attribute) %></td>
    <td><%= link_to 'Destroy', attribute, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Attribute', new_attribute_path %>
