<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @theme.name %>
</p>

<p>
  <b>Default:</b>
  <%= @theme.default %>
</p>


<%= link_to 'Edit', edit_theme_path(@theme) %> |
<%= link_to 'Back', themes_path %>
