<%=render :partial=>"header"%>
<h4>
  <%= "Update Design" %>
</h4>
<div style="float: left;padding: 10px;width: 100%;">
  <div style="float: left;width: 60%;">
    <% form_tag   edit_design_path, :multipart => true do %>

      <table>
        <tr>
          <td>Country</td>
          <td><%=select "country", "id", @countries.collect {|p| [ p.name, p.id ] }, :selected => @design.category.country_id %></td>
        </tr>

        <tr>
          <td>Category</td>
          <td>
            <div id="categories_div" >
              <%=select "category", "id", @categories.collect {|p| [ p.name, p.id ] }, :selected => @design.category_id %>
            </div>
            <%=text_field_tag "new_cat"%>
          </td>
        </tr>

        <tr>
          <td>Tags</td>
          <td>
            <%= @design.tag_list %><br/>
          </td>
        </tr>

        <tr>
          <td>Tags List</td>
          <td>
            <%= text_field :theme, :tag_list, :size => 40 %>
          </td>
        </tr>


        <tr>
          <td>Back Ground</td>
          <td><input type="file" name="bg_image"></input></td>
        </tr>

        <tr>
          <td>Front Image</td>
          <td><input type="file" name="main_image"></input></td>
        </tr>

        <tr>
          <td colspan="2">
            <br/><br/><br/>
            <input type="submit" value="Update Design"></input>
          </td>
        </tr>
      </table>
    <% end %>
  </div>
  <div style="float: left;padding: 10px;width: 30%;">        
    <div class="theme_thumbs">
      <span style="float: left;margin-top: 6px;width: 150px;text-align: right;">
        Background Image:&nbsp;
      </span><a href="#" class="innerThumb"><%=image_tag(@design.bg_image.url(:thumb), :size => "80x70") %></a>
    </div>
    <div class="theme_thumbs">
      <span style="float: left;margin-top: 6px;width: 150px;text-align: right;">
        Main Image:&nbsp;
      </span><a href="#" class="innerThumb"><%=image_tag(@design.main_image.url(:thumb), :size => "80x70") %></a>
    </div>
  </div>
</div>


<script>
  $('#country_id').change(function(){
    $.ajax({
      type:"get",
      url:"/admin/categories?c_id=" + $('#country_id').val()
    }
  );
  });

  $('#category_id').change(function(){
    $('#new_cat').css('display', 'none');
    if($('#category_id :selected').val() == "New Category")
      $('#new_cat').toggle();
  });
</script>