<%= form_for @user do |f| %>

  <div style="margin: 10px;padding: 10px;float: left;">
    <%= errors_for(@user, "Opps, unable to add user").html_safe %>
  </div>


  <div class="det_midRep">
    <div class="row">
      <label>First Name:</label>
      <%= f.text_field :firstname, :class=> 'text' %>
    </div>
    <div class="row">
      <label>Last Name:</label>
      <%= f.text_field :lastname, :class=> 'text' %>
    </div>

    <div class="row">
      <label>Email Address:</label>
      <%= f.text_field :email, :class=> 'text' %>
    </div>

    <div class="row">
      <label>Password:</label>
      <%= f.password_field :password, :class=> 'text' %>
    </div>
    <div class="row">
      <label>Re-type Password:</label>
      <%= f.password_field :password_confirmation, :class=> 'text' %>
    </div>

    <div class="rowBtn" style="text-align: center">
      <%= image_submit_tag '/images/submit_signup.png', :name=>'submit' %>
    </div>

  </div>
<% end  %>

