<div class="dashbord">
  <div class="dashbord_tCrv">
    <!---->
  </div>
  <div class="dashbord_mRepeat">
    <div class="midshade">
      <ul class="language">
        <li>
          <span class="english">English</span>
        </li>
        <li>
          <a href="#" class="spanish">Espanol</a>
        </li>
      </ul>
      <ul>
        <li class="first">
          <div class="profileBox">


            <div style="background-image: url('/images/topcrv.png'); width: 924px; height: 10px; margin-top: 33px;"></div>

            <div class="tab_container">



              <div id="tab1" class="tab_content">

                <div style="margin-bottom: 8px;"><strong><%= @solicitude.solicitude %> for <%= @event.name %></strong></div>

                <%
                @company_solicitation.each do |cs|
                  mes = nil
                  responses = nil
                  message = Message.where(:to => current_user.id, :parent => 0)
                  message.each do |m|
                    if(m.csolicitude_id == cs.id)
                      mes = m
                    end
                  end
                  if mes != nil
                    responses = Message.where(:parent => mes.id, :csolicitude_id => cs.id)
                  end

                  company = Company.find(cs.company_id)
                %>
                  <div class="message">
                    <div style="margin-right: 60px; margin-left: 30px; margin-top: 8px;">
                      <div style="margin-bottom: 10px;"><label><strong><%= link_to company.name, company%></strong></label></div>
                      <%  %>
                      <div style="margin-bottom: 10px; border-bottom: #61C2FF dotted;">
                        <% if mes != nil%>
                        <label style="margin-left: 10px; font-size: 14px; font-weight: bold;">
                          
                            <%=  mes.title%>
                          
                        </label>
                        <label style="font-size: small; margin-left: 10px;"><%= mes.created_at %></label>
                        <%end%>
                        <p style="font-size: 14px; margin-left: 10px; margin-top: 5px; padding-bottom: 10px;">
                          <% if mes != nil%>
                            <%=  mes.description%>
                          <%end%>
                        </p>
                      </div>
                      <div style="margin-bottom: 10px;">
                        <% if (responses != nil) %>
                          <% responses.each do |r| %>
                            <label style="margin-left: 10px; font-size: 14px; font-weight: bold;">
                              <%= r.title  %>
                              <label style="font-size: small; margin-left: 10px;"><%= r.created_at %></label>
                            </label>
                            <p style="font-size: 14px; margin-left: 10px; margin-top: 5px;">
                              <%= r.description  %>
                            </p>
                          <% end %>
                        <% end %>
                      </div>
                      
                      <div style="float: left; margin-bottom: 10px; margin-right: 10px; font-size: small"><%= link_to "Confirm Quote", "/dashboard/quote_confirm?id=#{cs.id}"%></div>
                      <div style="margin-bottom: 10px; font-size: small"><%= link_to "Cancel Quote"%></div>
                    </div>
                  </div>
                <%
                end
              %>



              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="separator"></div>
        </li>
      </ul>

    </div>

  </div>
  <div class="dashbord_bCrv"></div>
</div>

<style type="text/css">

  #frame .dashbord .dashbord_mRepeat .midshade ul span{
    float: left;
    width: 60px;
    padding: 5px;
  }
  #frame .dashbord .dashbord_mRepeat .midshade ul.weather_forecast li {
    width: 120px;
    list-style: none;
    display: inline;
    float: left;
  }

  #frame .dashbord .dashbord_mRepeat .midshade ul li .profileBox {
    float:left;
    /*border:  #666699 solid 1px;
    /*background:url(/images/profileBox.png) no-repeat;*/
    width: 924px;
    height:auto;
    margin-right: 37px;
  }

  #frame .dashbord .dashbord_mRepeat .midshade ul li .profileBox .message {
    border-top: #61C2FF solid 1px;
    border-bottom: #61C2FF solid 1px;
    height: auto;
    width: 884px;

  }

  #frame .dashbord .dashbord_mRepeat .midshade ul li .notification{
    color: #394367;
    font-size: large;
    padding-top: 18px;
  }

  #frame .dashbord .dashbord_mRepeat .midshade ul li .notification .n_content{
    overflow: scroll;
    height: 140px;
    margin-bottom: 10px;
  }

  strong{
    color: #033366;
    font-size: large;
  }

  #frame .dashbord .dashbord_mRepeat .midshade ul li .separator{
    /*border-bottom: #666699 solid 1px;
    margin-top: 28px;
    margin-bottom: 28px;*/
    background-image: url('/images/botcrv.png');
    width: 924px;
    height: 10px;
    margin-bottom: 10px;
  }
  #frame .dashbord .dashbord_mRepeat .midshade ul li {
    padding-bottom: 0px;
  }

  #frame .dashbord .dashbord_mRepeat .midshade ul li .details{
    width: 904px;
    padding-left: 20px;

  }
  #frame .dashbord .dashbord_mRepeat .midshade ul li .details .my_contractor{
    width: 60%;
    height: 200px;
    border-right: #E2E2E2 solid 1px;
    margin-right: 10px;
  }
  #frame .dashbord .dashbord_mRepeat .midshade ul li .details .my_events{
    height: 200px;
  }

  #frame .dashbord .dashbord_mRepeat .midshade ul li .details ul li {
    width: 200px;
  }

  #frame .dashbord .dashbord_mRepeat .midshade ul li ul.tabs
  {
    margin: 0;
    padding: 0;
    /*-moz-border-radius:30px;
    /*    float: left;*/
    list-style: none;
    height: 32px; /*--Define el ancho de las tabs--*/
    /*border-bottom: 1px solid #999;*/
    /*border-left: 1px solid #999;*/
    width: 100%;

  }

  #frame .dashbord .dashbord_mRepeat .midshade ul li ul.tabs li
  {
    -moz-border-radius:20px;
    float: left;
    margin: 0;
    padding: 0;
    height: 31px; /*--Sustrae 1px de la altura de la lista desordenada--*/
    line-height: 31px; /*--Alineamiento vertical del texto dentro de la tabla--*/
    /*border: 1px solid #999;*/
    border-left: none;
    margin-bottom: -1px; /*--Desplaza los item de la lista abajo 1px--*/
    overflow: hidden;
    position: relative;
    background: #61C2FF;
    width: auto;

  }

  #frame .dashbord .dashbord_mRepeat .midshade ul li ul.tabs li a
  {
    -moz-border-radius:20px;
    text-decoration: none;
    color: #000;
    display: block;
    font-size: 1.2em;
    padding: 0 20px;
    border: 1px solid #fff;
  }

  #frame .dashbord .dashbord_mRepeat .midshade ul li  ul.tabs li a:hover
  {
    background: #ccc;
  }

  html ul.tabs li.active, html ul.tabs li.active a:hover
  { /*--Estate seguro de que a la tab activa no se le aplicarán estas propiedades hover--*/
    background: #fff;
    border-bottom: 1px solid #fff; /*--Esto hace que la tab activa esté conectada con respecto a su contenido--*/
  }

  .tab_container
  {

    float: none;
    /*border: 1px solid #999;
    border-top: none;*/
    overflow: hidden;
    clear: both;
    float: left; width: 100%;
    background-image: url('/images/midRep.png');
    width: 924px;

  }
  .tab_content
  {
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 10px;
    font-size: 1.2em;

  }

</style>

<script language="JavaScript">

  $(document).ready(function() {

    //Cuando el sitio carga...
    $(".tab_content").hide(); //Esconde todo el contenido

    $("ul.tabs li:first").addClass("active").show(); //Activa la primera tab

    $(".tab_content:first").show(); //Muestra el contenido de la primera tab


    //On Click Event
    $("ul.tabs li").click(function() {

      $("ul.tabs li").removeClass("active"); //Elimina las clases activas

      $(this).addClass("active"); //Agrega la clase activa a la tab seleccionada

      $(".tab_content").hide(); //Esconde todo el contenido de la tab

      var activeTab = $(this).find("a").attr("href"); //Encuentra el valor del atributo href para identificar la tab activa + el contenido

      $(activeTab).fadeIn(); //Agrega efecto de transición (fade) en el contenido activo

      return false;

    });


  });


</script>