<%= content_for :javascript_include do%>
  <%= javascript_include_tag 'jquery.form' %>
<% end %>
<div class="innerCont">
  <div class="cont_topCrv">
    <ul class="language">
      <li>
        <span class="english">English</span>
      </li>
      <li>
        <a href="#" class="spanish">Espanol</a>
      </li>
    </ul>
    <%= render :partial => 'shared/step_progress' %>
    <ul class="linkbox" id="event_cats">
      <%= render :partial => 'event_category', :collection =>  @categories%>
    </ul>
    <div class="buttons">
      <%= form_tag new_step_2_path, :id => 'new_event' do %>
        <%= hidden_field_tag 'theme_id' %>
        <%= hidden_field_tag 'event[category_id]',@categories[0] ? @categories[0].id : '', :id => 'event_category_id' %>
        <%= hidden_field_tag 'bg_image_url' %>
        <%= hidden_field_tag 'fg_image_url' %>
        <%= hidden_field_tag 'skip_step1' %>
        <img src="/images/buttons.png" width="427" height="61" border="0" usemap="#Map" />
        <map name="Map" id="Map">
          <area id="save_n_continue" shape="rect" coords="13,4,293,38" href="javascript:void(0)"  title="Save Invitation &amp; Continue" />
          <area id="skip_step" shape="rect" coords="299,3,407,38" href="javascript:void(0)"  title="Skip Step" />
        </map>
      <% end  %>
    </div>
    <div class="country">
      <label>Country:</label>
      <%= select_tag 'country_id', options_from_collection_for_select(@countries.all, :id, :name, @country.id), :id => 'country_for_category' %>
    </div>
    <div class="country" id="category_loading" style="text-align: center; display: none">
      <div style="margin-top: 50px; width: 100%; text-align: center">
        <%= image_tag('loading.gif') %>
      </div>
    </div>
  </div>
  <div class="con_botCrv"></div>
</div>
<div class="innerCont">
  <div class="cont_topCrv">
    <div class="galCont">
      <div id="tabs">
        <ul class="tabs-nav" style="float: left; width: 511px;">
          <li><a href="#tab-1" class="parentLink"> <span>Design</span></a></li>
          <li><a href="#tab-2" class="parentLink"><span>Main Picture</span></a></li>
          <li><a href="#tab-3" class="parentLink"><span>Wallpaper</span></a></li>
        </ul>
        <div style="width:489px;float:left;height:50px;border: 1px solid silver;margin-left:15px;padding-left: 5px;padding-top: 5px;">
          Search:<br/>
          <div>
            <% remote_form_for :theme, :url => search_design_by_keywords_path, :success => "$('#keyword_category_loading').hide();$('#searched_and_fetched_designs').show();" do|f| %>
              <%= f.autocomplete_field :tag_name, autocomplete_tag_name_themes_path , :style => "width:375px;"%>
              <%= submit_tag "Search",:onclick => "$('#searched_and_fetched_designs').hide();$('#keyword_category_loading').show();", :style => "width:100px;" %>
            <% end %>
          </div>
        </div>
        <div id="tab-1" class="tabs-container">          
          <div class="gal_topCrv">            
            <div class="gal_botCrv">              
              <div class="thumbox flexcroll" id="mycustomscroll">
                <%= render :partial => "category_selected_designs", :locals => { :designs => @designs, :tab => "design" } %>
              </div>
            </div>
          </div>
        </div>
        <div id="tab-2" class="tabs-container">
          <div class="gal_topCrv">
            <div class="gal_botCrv">
              <div class="" id="" style="width: 511px; ">
                <div id="tab2-tabs">
                  <ul class="tab2-tabs-nav">
                    <li><a href="#tab-21"> Images</a></li>
                    <li><a href="#tab-22">Search Flickr</a></li>
                    <li><a href="#tab-23">Upload</a></li>
                  </ul>
                  <div id="tab-21" class="tab2-container flexcroll">
                    <%= render :partial => "category_selected_designs", :locals => { :designs => @designs, :tab => "main_picture"  } %>
                  </div>
                  <div id="tab-22" class="tab2-container flexcroll">
                    <%=text_field_tag "flickr_search"%>
                    <input type="button" id="flickr_search_button" value="Search" />
                  </div>
                  <div id="tab-23" class="tab2-container flexcroll">
                    <% form_for(:fg_image, :url => upload_fg_image_events_path, :remote => true,:html => { :method => :post, :id => 'uploadFgForm', :multipart => true }) do |f| %>
                      Upload a file: <%= f.file_field :image %>
                      <%= submit_tag 'Upload', :id => 'upload_main_image' %>
                    <% end %>
                    <div id="user_fg_images">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="tab-3" class="tabs-container">
          <div class="gal_topCrv">
            <div class="gal_botCrv">
              <div class="" id="" style="width: 511px; ">
                <div id="tab3-tabs">
                  <ul class="tab3-tabs-nav">
                    <li><a href="#tab-31">Images</a></li>
                    <li><a href="#tab-32">Pattern</a></li>
                    <li><a href="#tab-33">Pick Color</a></li>
                    <li><a href="#tab-34">Upload</a></li>
                  </ul>
                  <div id="tab-31" class="tab3-container flexcroll">
                    <%= render :partial => "category_selected_designs", :locals => { :designs => @designs, :tab => "wallpaper"  } %>
                  </div>
                  <div id="tab-32" class="tab3-container flexcroll">
                    <%= render :partial => "category_selected_designs", :locals => { :designs => @patterns, :tab => "patterns"  } %>
                  </div>
                  <div id="tab-33" class="tab3-container flexcroll">
                    Collor
                  </div>
                  <div id="tab-34" class="tab3-container flexcroll">
                    <%= form_for(:bg_image, :url => upload_bg_image_events_path, :html => { :method => :post, :id => 'uploadBgForm', :multipart => true }) do |f| %>
                      Upload a file: <%= f.file_field :image %>
                      <%= submit_tag 'Upload', :id => 'upload_bg_image' %>
                    <% end %>
                    <div id="user_bg_images">

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="" id="preview_bg">
      <div id="preview_image" style=" float: left; margin: 15px; width: 160px; height: 140px; border: 2px solid #aaa; background:#fff; text-align: center">
        Your Invitation
        <img style="width:160px;height:121px;" />
      </div>
      <ul class="timedate">   
        <li>
          <div class="time">
            time and date
          </div>
          <div class="whitebox">
          </div>
        </li>
        <li>
          <div class="time">
            Location
          </div>
          <div class="whitebox">
          </div>
        </li>
      </ul>
      <div class="textarea">
      </div>
    </div>

    <div id="preview_bg_bottom">
      Its is the preview of your design
    </div>

    <div style="text-align: center; float: left; margin-left: 10px; margin-top: 10px">
      <img src="/images/buttons.png" width="427" height="61" border="0" usemap="#Map" />
    </div>

  </div>
  <div class="con_botCrv"></div>
</div>



<%if false%>
  function showPhotos() {
  var photos = req.responseXML.getElementsByTagName("photo");

  for (var i = 0, photo; photo = photos[i]; i++) {
  var img = document.createElement("image");
  img.src = constructImageURL(photo);
  document.body.appendChild(img);
  }
  }

  // See: http://www.flickr.com/services/api/misc.urls.html
  function constructImageURL(photo) {
  return "http://farm" + photo.getAttribute("farm") +
  ".static.flickr.com/" + photo.getAttribute("server") +
  "/" + photo.getAttribute("id") +
  "_" + photo.getAttribute("secret") +
  "_s.jpg";
  }

<%end%>