<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">

  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />


    <title>Invitar | <%= @title || "Welcome" %></title>
    <%= stylesheet_link_tag "style" , 'jquery-ui', 'autocomplete', 'jquery.fancybox-1.3.2', 'custom' %>
    <%= yield :stylesheet %>
    <%= stylesheet_link_tag 'contactable'  %>
    <!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js"></script>
    -->

    <%= javascript_include_tag  'http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js', 'jquery-ui-1.8.11.custom.min','rails', 'application','jquery.fancybox-1.3.4' %>
    <%= javascript_include_tag 'jquery.validate', 'jquery.contactable' %>
    <%= javascript_include_tag :defaults%>
    <%= yield :javascript_include %>
    <%= yield :javascript_tag %>
    <%= javascript_auto_include_tags %>
    <%= csrf_meta_tag %>

    <%= include_tiny_mce_if_needed %>
    <%= include_wice_grid_assets %>
    <%= javascript_include_tag "autocomplete-rails" %>



  </head>
  <body>
<%#= fb_connect_javascript_tag %>
<%#= init_fb_connect "XFBML", :js => :jquery %>

    <div id="contactable"><!-- contactable html placeholder --></div>
    <script>$(function(){$('#contactable').contactable({subject: 'feedback URL:/site/feedback'});});</script>
    <div class="cercularback">
      <div class="footerBg">
        <div id="frame">
          <%= render 'layouts/header_with_search' %>
          <%= render 'layouts/flash_messages' %>
          <div style="float: left;min-height: 450px;width: 100%;">
            <%= yield %>
          </div>
          <div class="footer">
            <div class="footLeft"> <a href="#">Home</a>&nbsp;::&nbsp;<a href="#">About</a>&nbsp;::&nbsp;<a href="#">Try it</a> </div>
            <div class="footRight"> copyright &copy; <%=Time.now.year%> invitar.com All right reserved&nbsp;&nbsp; <a href="#">Privacy Policy</a>&nbsp;|&nbsp;<a href="#">Terms of use</a> </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
