<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">

  <head>
    <meta name="google-site-verification" content="a-CJk02SvsLrMDSFDviolUpxrsA9ik7odfm_XY-CRqg" />
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Invitar | <%= @title || "Welcome" %></title>
    <%= stylesheet_link_tag "style" , 'jquery-ui', 'autocomplete', 'stylejv', 'jquery.fancybox-1.3.2', 'contactable' %>
    <%= yield :stylesheet %>

    <%= javascript_include_tag   'jquery.min', 'rails', 'application', 'jquery-ui.min', 'jquery.fancybox-1.3.4'  %>

    <%= yield :javascript_include %>
    <%= yield :javascript_tag %>
    <%= include_tiny_mce_if_needed %>
    <%= content_for :javascript_include  do%>
    <% end %>

    <%= javascript_include_tag 'jquery.validate'%>
    <%= javascript_include_tag 'jquery.contactable'%>
     <%= javascript_include_tag "autocomplete-rails" %>
     <%= javascript_include_tag 'markerclusterer' %>

  </head>
  <body>
    <!-- TODO: Please move contactable code into which page you need. There is an error on jquery.contactable on search page. But it isn't neccessary on that page.-->
    <% unless params[:controller] == "companies" && params[:action] == "search" %>
      <div id="contactable"><!-- contactable html placeholder --></div>
      <script>$(function(){$('#contactable').contactable({subject: 'feedback URL:/site/feedback'});});</script>
    <% end %>

    <div>
      <div class="footerBg">
        <div id="frame">
          <%= render 'layouts/header_with_search' %>
          <%= render 'layouts/flash_messages' %>
          <%= yield %>
          <div class="footer">
            <div class="footLeft"> <a href="#">Home</a>&nbsp;::&nbsp;<a href="#">About</a>&nbsp;::&nbsp;<a href="#">Try it</a> </div>
            <div class="footRight"> copyright &copy; <%=Time.now.year%> invitar.com All right reserved&nbsp;&nbsp; <a href="#">Privacy Policy</a>&nbsp;|&nbsp;<a href="#">Terms of use</a> </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
